
.apod-entry {
  display: inline-block;   /* simple layout without grid/flex */
  width: 300px;
  margin: 10px;
  background: #111;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.apod-entry {
  position:static;
  top: 50px;
  left:50px;
}

.apod-entry:hover,
.apod-entry:focus-within {
  transform: scale(1.05);
  /* width: 350px; */
  box-shadow: 0 6px 15px rgba(0,0,0,0.6);
}
